.link-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 50px;
  z-index: 1000;
}

.background-open-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

body {
  margin: 0;
  background-color: #212021;
  color: white;
  font-family: "Exo 2";
}

.title-container {
  background-color: #fffaf5;
  width: 100vw;
  box-shadow: 5px 5px 5px black;
  display: flex;
  justify-content: center;
  padding: 10px 0px 10px 0px;
}

.title {
  text-align: center;
  color: black;
  font-family: "Orbitron";
  padding: 10px;
  margin: 0;
  font-size: 30px;
}

.link-card {
  background: #fad7c5;
  padding: 10px;
  box-shadow: 5px 5px 5px black;
  font-family: Bebas Neue;
  border-radius: 5px;
  color: black;
  font-family: "Exo 2";
  margin-bottom: 20px;
  width: max-content;
}
.link-modal {
  background-color: #424a5c;
  color: #16abe6;
}
#link-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(250px, auto);
  gap: 15px;
  background: #212021;
  padding: 10px;
  align-items: center;
  justify-items: center;
}
.link-data > span {
  font-weight: bold;
}
.link-tag > span:first-of-type {
  font-weight: bold;
}
.link-url > span {
  font-weight: bold;
}
.tag-list {
  border: 2px solid black;
}
